<div class="d-flex justify-content-center align-items-center " *ngIf="showInstructions">
    <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-md-9">
          <h1 class="mb-4 mt-4">Welcome to Your Test</h1>
          <h3>Please read the instructions and rules carefully before starting:</h3>
          <ul>
            <li class="my-3">You will have 10 minutes to answer all the questions.</li>
            <li class="my-3">There are 10 questions in total, each with a short answer.</li>
            <li class="my-3">You must answer each question before moving on to the next one.</li>
            <li class="my-3">Your answer will be saved automatically when you click the "Next Question" button.</li>
            <li class="my-3">Once you submit an answer for a question, you will not be able to go back to it.</li>
            
          </ul>
          <h4 class="my-3">Good luck</h4>
          <button type="submit" class="btn btn-primary btn-lg px-3 mt-4" (click)="startQuiz()">Start</button>
        </div>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-center align-items-center custom-height">
    <div class="container-fluid">
      <div class="row justify-content-center"> 
        <div class="col-md-9" *ngIf="showQuiz" >
          <div class="card card-margin  my-3 px-4">
            <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
            <label  class="form-label fs-5 fw-semibold text-dark">{{ currentQuestion.text }}</label>
            <textarea class="bg-light ps-3 mb-4" [(ngModel)]="currentAnswer.text"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-lg px-3 float-left " (click)="submitAnswer()">Next Question</button>
        </div>
      </div>
    </div>
  </div>
  
